@{
    ViewBag.Title = "Welcome to Url Shortener";
}

<div class="container mt-5 text-center">
    <h1 class="display-4">Welcome to Url Shortener</h1>
    <p class="lead mt-3">Simple URL shortening service with authentication, admin panel and statistics.</p>

    <div class="mt-4">
        <a href="/ShortUrl/Index" class="btn btn-primary btn-lg me-2">View Short URLs Razor</a>

        <a href="/shorturls" class="btn btn-primary btn-lg me-2">View Short URLs Angular</a>

        <a href="/About/Index" class="btn btn-primary btn-lg me-2">About</a>

    </div>
</div>
